*{
    margin: 0%;
    padding: 0%;
    font-family: Ubunto, sans-serif;
    --main-bg-color: #01c699;
    --cinza: #e8e4e3;
    outline: 0;
}
body{
    background-color: var(--cinza);
}
header{
    padding: 1%;
    height: 16rem;
    background-color: var(--main-bg-color);
    color: white;

}
header h1{
    display: inline;
    font-size: 3rem;
    margin-left: 2rem;
}
header img{
    display: inline;
}
header p{
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}
footer{
    background-color: var(--main-bg-color);
    padding: 2%;
    color: white;
}
footer img{
    display: inline;
    margin-right: 2%;
}
footer p{
    display: inline;
    bottom: 15px;
    font-size: 1rem;
}
.footer{
    text-align: center;
}
main{
    margin-bottom: 5rem;
    margin-top: -4rem;
}
section{
    background-color: white;
}
.formulario{
    margin: auto;
    width: 45%;
    padding: 3rem;
    border-radius: 1rem;
}
.formulario input, textarea, button{
    display: block;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--cinza);
    border-radius: 0.2rem;
    padding: 0.5rem;
    width: 90%;
    margin-left: 5%;
    border: var(--cinza) 1.5px solid;
}
.formulario legend{
    padding-bottom: 1rem;
    font-size: 1.8rem;
}
.formulario label{
    color: #b8b5b4;
    padding-top: 1rem;
    margin-left: 5%;
}
.formulario textarea:focus, input:focus{
    border: #b8b5b4 1.5px solid;
}
.footer_form{
    display: flex;
    justify-content: space-between;
    border-top: var(--cinza) 2px solid;
    margin: 0;
    padding-top: 2rem;
}
.footer_form a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.footer_form button{
    width: 45%;
    margin-left: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 100%;
}
.buttons_form{
    display: flex;
    justify-content: flex-end;
}
.alert_form{
    display: flex;
    justify-content: flex-start;
}
.alert_form p{
    margin-left: 1rem;
}