<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="form.css" media="screen" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Form</title>
</head>

<body>
    <header>
        <!-- <a href="#"><img
                src="back-button.svg"
                width="50px" height="50px" /></a> -->
        <h1>Solicitar Férias</h1>
        <p>Preencha os campos abaixo para cadastrar uma solicitação de férias.</p>
    </header>
    <main>
        <section class="formulario">
            <div>
                <form method="POST">
                    <legend>Dados Férias</legend>
                    <hr>
                    <label for="saldo">Saldo</label>
                    <input type="text" name="saldo" id="saldo" placeholder="Dinamico vem do JSON" disabled>
                    <label for="inicio_ferias">Data de Inicio das férias</label>
                    <input type="date" name="inicio_ferias" id="inicio_ferias"
                        placeholder="Não coloque uma data do passado">
                    <label for="dias_ferias">Dias de férias a tirar</label>
                    <input type="number" min="0" max="30" name="dias_ferias" id="dias_ferias" placeholder="30">
                    <input style="display: inline; width: auto;" type="checkbox" name="abono" id="abono" onclick="desabilitar()">
                    <label for="abono" style="margin-left: 0;">Desejo abonar 1/3 do meu direito de férias</label>
                    <label style="display: block;" for="dias_abono">Dias de abono</label>
                    
                    <input type="number" min="0" max="10" name="dias_abono" id="dias_abono"
                        placeholder="Dias de férias que deseja vender" disabled>

                    <label style="display: block; margin-bottom: 0.5rem;" for="mensagem">Mensagem</label>
                    <textarea name="" id="mensagem" cols="40" rows="5"
                        placeholder="Quero pegar férias neste dia porque..."></textarea>
                    <div class="footer_form">
                        <div class="alert_form">
                            <img src="warning.svg" alt="Preencha todos os campos do requerimento" width="35px"
                                height="35px">
                            <p>Importante <br>Todos os campos</p>
                        </div>
                       <div class="buttons_form">
                            <button type="submit" class="btn btn-outline-info">Enviar</button>
                            <button type="button" class="btn btn-outline-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <img src="logo-senior.svg"
                alt="Logo Senior">
            <p>©Copyright 2021 Controle Férias S.A. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>